<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
	<title>Les documents nécessaires à la constitution de votre dossier de naturalisation par <em>service-public.fr</em></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" lang="fr" />
    <link rel='stylesheet' type='text/css' href="{{ asset('assets/particuliers/css/style-pdf.css') }}" />
	</head>
		<style type="text/css">
			html {font-family: Helvetica, Symbol, Times; font-size: 0.9em; margin: 0.5em 0;}
			body {font-family: Helvetica, Symbol, Times; font-size: em; margin: 0.5em 0;}
			p { font-family: Helvetica, Symbol, Times; font-size: 0.8em; margin: 0.5em 0;}
		</style>
<body>
<div class="step-page">
	<div class="foot-notes">
	   <div style="text-align:center;">
			<p><span style="font-size: 110%; "><strong>Documents nécessaires à la constitution de votre dossier de naturalisation</strong></span></p>
		</div>
			<p style="color:rgb(11,107,168);"><strong> Pièces à produire dans toutes les situations</strong></p>
		<div style="padding-left: 4%; text-indent: -3%; ">
			<p>☐ Formulaire cerfa n°12753 rempli, daté et signé (en 2 exemplaires)</p>
			<p>☐ Original d'un document officiel d'identité <em>(par exemple, Permis de conduire ou Passeport)</em></p>
			<p>☐ 2 photos d'identité (format 35 x 45 mm) tête nue. Indiquez au dos votre nom, votre prénom et votre date de naissance</p>
			<p>☐ Timbre fiscal de 55 €</p>
			<p>☐ Document(s) justifiant de votre nationalité d’origine <em>(par exemple, copie du passeport)</em></p>
			<p>☐ Copie de votre titre de séjour valide (recto-verso)</p>
			<p>☐ Si vous avez modifié votre nom, une preuve de cette modification</p>
		</div>
			<p style="color:rgb(11,107,168); "><strong> Pièces justifiant la situation familiale</strong></p>
		<div style="padding-left: 4%; text-indent: -3%; ">
			<p>☐ Copie intégrale de votre acte de naissance. Il doit indiquer : nom, prénom, date et lieu de naissance de votre père et votre mère</p>
			<p>☐ Documents justifiant date, lieu de naissance et date de mariage <em>(s’ils sont mariés)</em> de votre père et votre mère</p>
			{% if (data.Doc1_1 != '') and (data.Doc1_1 != ' ') and (data.Doc1_1 != '  ') %}<p>{{ data.Doc1_1|nl2br }}</p>{% endif %}
			{% if (data.Doc1_2 != '') and (data.Doc1_2 != ' ') and (data.Doc1_2 != '  ') %}<p>{{ data.Doc1_2|nl2br }}</p>{% endif %}
			{% if (data.Doc1_3 != '') and (data.Doc1_3 != ' ') and (data.Doc1_3 != '  ') %}<p>{{ data.Doc1_3|nl2br }}</p>{% endif %}
			{% if (data.Doc1_4 != '') and (data.Doc1_4 != ' ') and (data.Doc1_4 != '  ') %}<p>{{ data.Doc1_4|nl2br }}</p>{% endif %}
			{% if (data.Doc1_5 != '') and (data.Doc1_5 != ' ') and (data.Doc1_5 != '  ') %}<p>{{ data.Doc1_5|nl2br }}</p>{% endif %}
			{% if (data.Doc2_7 != '') and (data.Doc2_7 != ' ') and (data.Doc2_7 != '  ') %}<p>{{ data.Doc2_7|nl2br }}</p>{% endif %}
			{% if (data.Doc2_1 != '') and (data.Doc2_1 != ' ') and (data.Doc2_1 != '  ') %}<p>{{ data.Doc2_1|nl2br }}</p>{% endif %}
			{% if (data.Doc2_2 != '') and (data.Doc2_2 != ' ') and (data.Doc2_2 != '  ') %}<p>{{ data.Doc2_2|nl2br }}</p>{% endif %}
			{% if (data.Doc2_3 != '') and (data.Doc2_3 != ' ') and (data.Doc2_3 != '  ') %}<p>{{ data.Doc2_3|nl2br }}</p>{% endif %}
			{% if (data.Doc2_4 != '') and (data.Doc2_4 != ' ') and (data.Doc2_4 != '  ') %}<p>{{ data.Doc2_4|nl2br }}</p>{% endif %}
			{% if (data.Doc2_5 != '') and (data.Doc2_5 != ' ') and (data.Doc2_5 != '  ') %}<p>{{ data.Doc2_5|nl2br }}</p>{% endif %}
			{% if (data.Doc2_6 != '') and (data.Doc2_6 != ' ') and (data.Doc2_6 != '  ') %}<p>{{ data.Doc2_6|nl2br }}</p>{% endif %}
		</div>
			<p style="color:rgb(11,107,168); "><strong> Justificatifs de domicile</strong></p>
		<div style="padding-left: 4%; text-indent: -3%; ">
			{% if (data.Doc_Dom_1 != '') and (data.Doc_Dom_1 != ' ') and (data.Doc_Dom_1 != '  ') %}<p>{{ data.Doc_Dom_1|nl2br }}</p>{% endif %}
			{% if (data.Doc_Dom_2 != '') and (data.Doc_Dom_2 != ' ') and (data.Doc_Dom_2 != '  ') %}<p>{{ data.Doc_Dom_2|nl2br }}</p>{% endif %}
			{% if (data.Doc_Dom_3 != '') and (data.Doc_Dom_3 != ' ') and (data.Doc_Dom_3 != '  ') %}<p>{{ data.Doc_Dom_3|nl2br }}</p>{% endif %}
		</div>	
			<p style="color:rgb(11,107,168); "><strong> Pièces justifiant vos ressources</strong></p>
		<div style="padding-left: 4%; text-indent: -3%; ">
			<p>☐ Avis d’imposition ou Avis de situation déclarative à l'impôt sur le revenu (Asdir, remplaçant l’avis de non-imposition)</p>
			<p>☐ Bordereau de situation fiscale P237 portant sur les 3 dernières années</p>
			{% if (data.Doc_Profes_1 != '') and (data.Doc_Profes_1 != ' ') and (data.Doc_Profes_1 != '  ') %}<p>{{ data.Doc_Profes_1|nl2br }}</p>{% endif %}
			{% if (data.Doc_Profes_2 != '') and (data.Doc_Profes_2 != ' ') and (data.Doc_Profes_2 != '  ') %}<p>{{ data.Doc_Profes_2|nl2br }}</p>{% endif %}
			{% if (data.Doc_Profes_3 != '') and (data.Doc_Profes_3 != ' ') and (data.Doc_Profes_3 != '  ') %}<p>{{ data.Doc_Profes_3|nl2br }}</p>{% endif %}
			{% if (data.Doc_Profes_4 != '') and (data.Doc_Profes_4 != ' ') and (data.Doc_Profes_4 != '  ') %}<p>{{ data.Doc_Profes_4|nl2br }}</p>{% endif %}
			{% if (data.Doc_Profes_5 != '') and (data.Doc_Profes_5 != ' ') and (data.Doc_Profes_5 != '  ') %}<p>{{ data.Doc_Profes_5|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_1 != '') and (data.Doc_Autre_Ress_1 != ' ') and (data.Doc_Autre_Ress_1 != '  ') %}<p>{{ data.Doc_Autre_Ress_1|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_2 != '') and (data.Doc_Autre_Ress_2 != ' ') and (data.Doc_Autre_Ress_2 != '  ') %}<p>{{ data.Doc_Autre_Ress_2|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_3 != '') and (data.Doc_Autre_Ress_3 != ' ') and (data.Doc_Autre_Ress_3 != '  ') %}<p>{{ data.Doc_Autre_Ress_3|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_4 != '') and (data.Doc_Autre_Ress_4 != ' ') and (data.Doc_Autre_Ress_4 != '  ') %}<p>{{ data.Doc_Autre_Ress_4|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_5 != '') and (data.Doc_Autre_Ress_5 != ' ') and (data.Doc_Autre_Ress_5 != '  ') %}<p>{{ data.Doc_Autre_Ress_5|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_6 != '') and (data.Doc_Autre_Ress_6 != ' ') and (data.Doc_Autre_Ress_6 != '  ') %}<p>{{ data.Doc_Autre_Ress_6|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_7 != '') and (data.Doc_Autre_Ress_7 != ' ') and (data.Doc_Autre_Ress_7 != '  ') %}<p>{{ data.Doc_Autre_Ress_7|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_8 != '') and (data.Doc_Autre_Ress_8 != ' ') and (data.Doc_Autre_Ress_8 != '  ') %}<p>{{ data.Doc_Autre_Ress_8|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_9 != '') and (data.Doc_Autre_Ress_9 != ' ') and (data.Doc_Autre_Ress_9 != '  ') %}<p>{{ data.Doc_Autre_Ress_9|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_10 != '') and (data.Doc_Autre_Ress_10 != ' ') and (data.Doc_Autre_Ress_10 != '  ') %}<p>{{ data.Doc_Autre_Ress_10|nl2br }}</p>{% endif %}
			{% if (data.Doc_Autre_Ress_11 != '') and (data.Doc_Autre_Ress_11 != ' ') and (data.Doc_Autre_Ress_11 != '  ') %}<p>{{ data.Doc_Autre_Ress_111|nl2br }}</p>{% endif %}
		</div>	
			<p style="color:rgb(11,107,168); "><strong> Pièces justifiant votre niveau de connaissance de la langue française</strong></p>
			{% if (data.Doc_Francais_1 != '') and (data.Doc_Francais_1 != ' ') and (data.Doc_Francais_1 != '  ') %}<p>{{ data.Doc_Francais_1|nl2br }}</p>{% endif %}
		<div style="padding-left: 4%; text-indent: -3%; ">
			{% if (data.Doc_Francais_2 != '') and (data.Doc_Francais_2 != ' ') and (data.Doc_Francais_2 != '  ') %}<p>{{ data.Doc_Francais_2|nl2br }}</p>{% endif %}
			{% if (data.Doc_Francais_3 != '') and (data.Doc_Francais_3 != ' ') and (data.Doc_Francais_3 != '  ') %}<p>{{ data.Doc_Francais_3|nl2br }}</p>{% endif %}
			{% if (data.Doc_Francais_4 != '') and (data.Doc_Francais_4 != ' ') and (data.Doc_Francais_4 != '  ') %}<p>{{ data.Doc_Francais_4|nl2br }}</p>{% endif %}
			{% if (data.Doc_Francais_5 != '') and (data.Doc_Francais_5 != ' ') and (data.Doc_Francais_5 != '  ') %}<p>{{ data.Doc_Francais_5|nl2br }}</p>{% endif %}
			{% if (data.Doc_Francais_6 != '') and (data.Doc_Francais_6 != ' ') and (data.Doc_Francais_6 != '  ') %}<p>{{ data.Doc_Francais_6|nl2br }}</p>{% endif %}
		</div>
	</div>
	<br>
	<div style="color:rgb(11,107,168); font-size:0.7em;line-height: 1em; padding: 5px; border: 1px solid #0b6ba8; border-radius: 8px;">
		<p>⚠ Un document rédigé en langue étrangère doit être accompagné de sa traduction par un traducteur agréé (ou habilité à intervenir auprès des autorités d'un autre pays européen ou de la Suisse). Toutefois, l’extrait plurilingue d’acte de naissance est accepté sans traduction.</p>
		<p>L’acte public étranger doit être légalisé ou apostillé. Adressez-vous à l’ambassade ou au consulat de votre pays d'origine ou à l’Office français de protection des réfugiés ou apatrides (Ofpra) si vous êtes réfugié ou apatride.</p>
	</div>
</div>
</body>
</html>