@import "common.css";

/*
* Afficher les radio buttons en face label ("Choix du type d'entreprise")
*/ 
#inputTypeEntreprise-container .input-group {
	display: table;
}

#step2 .mention-asterisk {
	display: none;
}
.step-page .post-note {
	text-align: center;
}
.simulator-breadcrumb ol {
	margin: 1em 0 0;
}

button[name=btnPrecedent] {
	float: left;
}

