@import "common.css?version=4.2.20";


#Calcul-panel-1-blockinfo-8-chapter-1-section-1-content, 
#Calcul-panel-1-blockinfo-8-chapter-1, 
#Calcul-panel-1-blockinfo-8 {background-color: #fff; border : 0px solid white;}

#Calcul-panel-1-blockinfo-8 .blockinfo-chapters {background-color: #fff; border : 0px solid white;}


.feedback-bloc {
 display:flex;
 flex-direction:row;
 justify-content:space-between;
 border:1px solid #ccc;
 border-radius:3px;
 background-color:#f2f2f2;
 padding:1.5em;
 margin:2.5em 0 1.5em;
 overflow:hidden
}
.feedback-bloc svg {
 flex-grow:1;
 display:block;
 margin-right:1.5em
}
.feedback-bloc .feedback-bloc-col-1 {
 flex-grow:5
}
.feedback-bloc .feedback-bloc-col-1 p {
 font-family:"roboto_light",Arial,sans-serif;
 font-size:1.57143em;
 margin-bottom:0;
 line-height:1.25;
}
.feedback-bloc .feedback-bloc-col-1 p span {
 display:block
}
.feedback-bloc .feedback-bloc-col-2 {
 flex-grow:1
}
.feedback-bloc .feedback-bloc-col-2 .btn {
 text-transform:uppercase;
 margin-top:.3em;
 padding:10px 30px
}


@media(max-width:60em) {
 .feedback-bloc {
  flex-direction:column
 }
 .feedback-bloc svg {
  display:none
 }
 .feedback-bloc .feedback-bloc-col-1 p {
  text-align:center
 }
 .feedback-bloc .feedback-bloc-col-1 p span {
  display:initial
 }
 .feedback-bloc .feedback-bloc-col-2 p {
  text-align:center;
  margin:1em 0 0
 }
}
.feedback-modal .modal-body .col-modal {
 padding-top:1.5em
}
.feedback-modal .modal-body .modal-msg {
 font-size:1.71429em
}
.feedback-modal .modal-body .submit {
 margin-bottom:1.5em
}
.feedback-answer {
 margin:2.5em 0 1.5em
}
.feedback-answer .feedback-answer-title {
 font-family:"roboto_light",Arial,sans-serif;
 font-size:1.57143em;
 text-align:center;
 margin-bottom:0;
 line-height:1.25
}
.feedback-answer .feedback-submit {
 display:flex;
 justify-content:center
}
.feedback-answer .feedback-submit .btn-svg {
 flex-grow:1;
 max-width:15em;
 padding-left:1em;
 padding-right:1em
}
.feedback-answer .feedback-submit svg {
 vertical-align:middle
}
.feedback-answer .feedback-submit .alert-bloc {
 margin-bottom:3.5px
}
.feedback-answer .feedback-submit p {
 margin-bottom:1.5em;
 text-align:left
}
.feedback-answer .feedback-submit .abo-alertes {
 border-top:1px solid #0c5e2e;
 padding-top:1.5em;
 margin-bottom:1em
}
.feedback-answer .feedback-submit .alert-success button {
 margin-bottom:.5em
}
.feedback-answer .feedback-submit .alert-success button .icon-rappel {
 font-size:1.15em;
 margin-right:.25em;
 vertical-align:text-top
}
.feedback-answer .feedback-submit .link-suggestion.link-suggestion.link-suggestion {
 display:block;
 margin:1.5em auto 0;
 text-align:center
}
.feedback-answer .feedback-submit .link-suggestion.link-suggestion.link-suggestion a {
 color:#0b6ba8
}
.feedback-answer .bloc-answer-no {
 color:#0b6ba8;
 background-color:#e1ebf0;
 padding:1em 2.5em
}
.feedback-answer .bloc-answer-no p {
 text-align:center;
 margin-bottom:1em
}
.feedback-answer .bloc-answer-no .link-faq {
 max-width:15em;
 margin:.25em auto 1em
}


#gexemple-error {
	font-weight: 800;
	color: cornflowerblue;
}

 /*
 
 #GroupeJoursXheures-error {
	

	display: unset !important;
	height: 30px;
	visibility:  unset !important;
}
 #GroupeJoursXheures-error:after {
  content: "rrrrRegardez cette boite orange.Regardez cette boite orange.Regardez cette boite orange.Regardez cette boite orange.Regardez cette boite orange.";
} 
*/






.simulator-breadcrumb li.current.current p {
	visibility: hidden;
    display: none;
}

#DonneeVide-container {
	visibility: hidden;
    display: none;
}
#DonneeVide-label, #DonneeVide {
	visibility: hidden;
    display: none;
}


#Calcul-panel-1-fieldset-4-fieldrow-9-head{ 
  border : 0px;
	visibility:hidden;
}


#Calcul-panel-1-grid-4 td {

                border: none;

}

 #Calcul-panel-1-fieldset-4-fieldrow-1-head {border : 0px; } 
#Calcul-panel-1-fieldset-4-fieldrow-2-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-3-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-4-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-5-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-6-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-7-head { border : 0px;}
#Calcul-panel-1-fieldset-4-fieldrow-8-head { border : 0px;}

#titrerange7 {font-weight: 800;}





#Calcul-panel-1-fieldset-9 {
		visibility:hidden;
	
}

#Calcul-panel-1-blockinfo-5-chapter-1 {
      float: none;
    clear: both;
    padding: 1em;
    color: #fff;
    background: red;
    border-radius: 8px;
}

#Calcul-panel-1-blockinfo-5-chapter-1-section-1-content{
    background-color: red;
   padding: .5em; 
    border: 0;
    text-align: center;
    font-size: 19px;
  font-weight: 700;}
  

#Calcul-panel-1-blockinfo-6-chapter-1 {
      float: none;
    clear: both;
    padding: 1em;
    color: #fff;
    background: #0b6ba8;
    border-radius: 8px;
}

#Calcul-panel-1-blockinfo-6-chapter-1-section-1-content{
    background-color: #0b6ba8;
   padding: .5em; 
    border: 0;
    text-align: center;
    font-size: 19px;
  font-weight: 700;}
  
  #Calcul-panel-1-blockinfo-7-chapter-1 {
      float: none;
    clear: both;
    padding: 1em;
    color: #fff;
    background: #0b6ba8;
    border-radius: 8px;
}

#Calcul-panel-1-blockinfo-7-chapter-1-section-1-content{
    background-color: #0b6ba8;
   padding: .5em; 
    border: 0;
    text-align: center;
    font-size: 19px;
  font-weight: 700;}
  
  
  
  @media (max-width: 37em)  {
#Calcul-panel-1-fieldset-4-fieldrow-8{
	font-size:0px;
}

#titrerange7{
	font-size: 14px;
}

#TotalNombreJoursMois{
	font-size: 14px !important;
}

  }










