@import "common.css?version=4.x-dev";
@font-face { font-family: 'marianne_light'; src: url("../static/fonts/marianne-Light.eot"); src: url("../static/fonts/marianne-Light.eot?#iefix") format("embedded-opentype"), url("../static/fonts/marianne-Light.woff") format("woff"), url("../static/fonts/marianne-Light-webfont.ttf") format("truetype"), url("../static/fonts/marianne-Light-webfont.svg#marianne_light") format("svg"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'marianne_regular'; src: url("../static/fonts/marianne-Regular.eot"); src: url("../static/fonts/marianne-Regular.eot?#iefix") format("embedded-opentype"), url("../static/fonts/marianne-Regular.woff") format("woff"), url("../static/fonts/marianne-Regular-webfont.ttf") format("truetype"), url("../static/fonts/marianne-Regular-webfont.svg#marianne_regular") format("svg"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'marianne_bold'; src: url("../static/fonts/marianne-Bold.eot"); src: url("../static/fonts/marianne-Bold.eot?#iefix") format("embedded-opentype"), url("../static/fonts/marianne-Bold.woff") format("woff"), url("../static/fonts/marianne-Bold-webfont.ttf") format("truetype"), url("../static/fonts/marianne-Bold-webfont.svg#marianne_bold") format("svg"); font-weight: 700; font-style: normal; }

.simulator-breadcrumb {
	display: none;
}
.step-page .step-panel-container h3.legend {
	margin-top: 0;
}
.step-page .fieldset-container legend {
	display: none;
}
.mention-asterisk {display: none;}

.step-page #commune-container label {
	width: 50vw;
	grid-row: 1;
	grid-column: 1;
}

div.pre-note {
	grid-row: 2;
	grid-column: 1;
	font-size: 0.9rem;
	font-family: "marianne_regular";
}

.form-horizontal .control-label {
	text-align: left;
	color: #3a3a3a;
	font-size: 1.2rem;
	font-family: marianne_bold;
}

.step-page #commune-container input {
	min-width: 22rem;
	max-width: 100vw;
	border-bottom: 3px solid #2a313e;
	border-radius: 0;
	background-color: #97aab76e;
	font-variant: all-small-caps;
}

.step-page .foot-note {
	text-align: left;
}
.article ul li::before {
	position: static;
	margin-top: 0.2em;
	margin-right: 0.4em;
}
.step-page .section-content.with-annotations::after {
	border: none;
	position: static;
}
.step-page .section-content {
	border: none;
	background: transparent;
}
.step-page .blockinfo-chapters {
	border: none;
	margin: 0;
	padding: 0;
}
.step-page .blockinfo-container {
	display: none;
}
.step-page .blockinfo-label {
	border: none;
}
.step-page .blockinfo-container,
.step-page .blockinfo-chapter-sections {
	padding: 0;
	margin: 0;
}
.step-page .section-container .section-label h2 {
	font-size: 1em;
	margin-left: .5em;
	margin-top: .5em;
	font-weight: bold;
	text-decoration: underline;
}
.step-page .section-container th {
	text-align: left;
	padding-left: .5em;
}
.step-page .section-container td {
	text-align: right;
	padding-right: .5em;
	width: 10%;
}
.step-page .collapse-expand-all-tools {
	display: none;
}
.step-page .section-container tr:nth-child(even) {
	background: #ECECEC
}
.step-page .section-container tr:nth-child(odd) {
	background: #FFF
}



/* Mise en âge des Infos formulaire */
.Info {	
	display: grid;
	grid-template-columns: 30px auto;
	grid-template-rows: auto;
	border: 1px solid #0063CB;	
}

.Info-icone {
	background:#0063CB;
	text-align: center;
	grid-column: 1;
	grid-row: 1;
	padding-top: 5px;
}
	
.Info-contenu {
	padding: 15px 5px 5px 10px;
	background: #DBDBEE99;
	color: #0063CB;
	font-size: 1.2rem;
	font-family: "marianne_bold";
	grid-column: 2; 
	grid-row:1;
}


.step-page .foot-note h2 {
	color: #0063CB;
	margin: 0;
	padding: 0;
	font-size: 1.1rem;
	font-family: "marianne_light";
}

.step-page .foot-note {
	font-size : 0.9rem;
}

.step-page .foot-note ul li::before {
	top: 0.8em;
	left: 0;
	content: "\e607";
	font-size: 0.9rem;
}

#commune-container .input-group {
	width: auto;
}

.step-page .blockinfo-chapters a {
	color: #fff;
}

.step-page div.has-error {
	clear: none;
	text-align: left;
}

.step-page div.has-error.input-group input{
	font-weight: normal;
	color: #000;
	border: 1px solid #c22222;
}

div.toolbar a:after {
	content: "";
}

article ul > li:first-child {
	margin-top: 0.5em;
}

div.toolbar ul > li:first-child {
	margin-top: 0;
}

@media (max-width: 856px) {
	.step-page #commune-container input {
	min-width: 14rem;
	max-width: auto;
	}
}	

@media (max-width: 480px) {
	.step-page #commune-container input {
	min-width: 14rem;
	max-width: auto
	}
}
	
.glyphicon {
    position: relative;
    top: 5px;
	margin-right: 5px;
}


@media (max-width: 327px) {
	.step-page #commune-container input {
	min-width: 14rem;
	max-width: auto;
	}
}
	
.glyphicon {
    position: relative;
    top: 5px;
	margin-right: 5px;
}

.btn-primary {
    margin-top: 0px;
}

@media (max-width: 259px) {
	.step-page #commune-container input {
	min-width: 14rem;
	max-width: auto;
	}
}
	
.glyphicon {
    position: relative;
    top:5px;
	margin-right: 5px;
}

.glyphicon-remove, .autocomplete-input-clear-button {
	top: 5px;
	right: 5px;
}

/* Mise en page du bouton */
.btn {
	background-color: #f1eef8;
	border: 1px solid #0063CB;
	border-radius: 3px;
	transition-property: transform;
	transition-duration: 400ms; 
}

.btn.btn-primary {
   background-color: #0063CB;
   color: whitesmoke;
   border: 1px solid #0063CB;
   border-radius: 3px;
   transition-property: transform;
	transition-duration: 400ms; 
}

/* Mise en page du bouton au survol*/
.btn:hover {
	background: #0063CB;
	color: white;
	transform:scale(1.1);
}

/* Mise en page de l'intro */
div#Intro {
	color: #3a3a3a;
	font-family: "marianne_bold";
	font-size: 1.1rem;
}

div#Note {
	color: #2a313e; 
	border : solid #2a313e;
	border-width: 1px 1px 1px 20px;
	border-radius: 0 5px 0px 0;
	padding: 0 10px;
}

#Intro ul li,
.Complement ul li {
    margin-left: 2rem;
	padding-left: 1rem;
	padding-top: 10px;
	font-family: "marianne_light";
}

.step-page .foot-notes {
	background: none;
}

/*Ordre des blocs */
div#commune-container.field-container.form-group {display:grid; }

